#for-normal
  .control-group
    = label_tag :air_conditioner_level, '能源分級', class: 'control-label'
    .controls
      = select_tag :air_conditioner_level, options_for_select(1..5)

  .control-group
    = label_tag :air_conditioner_cooling_capacity, '冷房能力 (kw)', class: 'control-label'
    .controls
      = select_tag :air_conditioner_cooling_capacity, options_for_select(%w(1~2 2~3 3~4))

  .control-group
    = label_tag :air_conditioner_type, '冷氣機種類', class: 'control-label'
    .controls
      = text_field_tag :air_conditioner_type, nil, placeholder: '忽略'

  .control-group
    = label_tag :air_conditioner, '冷氣機', class: 'control-label'
    .controls
      = text_field_tag :air_conditioner, nil, placeholder: '請輸入廠牌', style: 'width:300px'

#for-air
  .control-group
    = label_tag :air_conditioner_type_for_air, '冷氣機種類', class: 'control-label'
    .controls
      = select_tag :air_conditioner_type_for_air, options_for_select([['窗型冷氣(單體式)', 'single'],['分離式冷氣', 'separate'], ['箱型冷氣', 'box']])

  .control-group
    = label_tag :cooling_ability_for_air, '冷房能力（kW）', class: 'control-label'
    .controls
      = text_field_tag :cooling_ability_for_air

  .control-group
    = label_tag :energy_level_for_air, '能源效率', class: 'control-label'
    .controls
      = text_field_tag :energy_level_for_air

= f.association :air_conditioner, as: :hidden
= f.input :cop, label: '冷氣機效能 COP'
= f.input :rate_of_decline, label: '衰退率（%）', as: :integer, hint: '100 等於沒衰退', input_html: {min: 0, max: 100, value: 90}