%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th 建築類別
      %th 建築方位
      %th 室內空間
      %th 空間分配
      %th 地理位置
      %th 室內溫度設定
      %th 冷氣能源分級
      %th 冷氣機種類
      %th 冷氣機型號
      %th 冷氣機效能 COP
      %th 燈消耗功率
  %tbody
    %tr
      %td= simulation.building_model_text
      %td
        = simulation.deg
        度
      %td= simulation.room_space_text
      %td= simulation.room_space_ratial_text
      %td= simulation.weather_text
      %td= simulation.room_temperature
      %td= simulation.air_conditioner.try(:level)
      %td= simulation.air_conditioner.try(:air_conditioner_type)
      %td= simulation.air_conditioner.try(:registration_id)
      %td= simulation.cop
      %td= simulation.people