%h2.StepTitle 變數設定
= f.input :deg, label: '建築方位', as: :radio, collection: [['坐北朝南（0 度）', 0.0], ['坐東朝西（90 度）', 90], ['坐南朝北（180 度）', 180], ['坐西朝東（270 度）', 270], ['度', nil]], include_blank: false, checked: 0.0
= number_field_tag :deg_other, 0.0, step: :any, class: 'input-mini'
#air-vars
  = field_set_tag nil do
    = f.input :room_temperature, collection: (18..30).map{|i| ["#{i} 度 C", i]}, include_blank: false, label: '室內溫度', selected: 25
    = render 'air_conditioner_fields', f: f
#light-vars
  = field_set_tag nil do
    = f.input :power, collection: (5..15).map{|i| ["#{i} W/m^2", i]}, include_blank: false, label: '燈消耗功率'
    = f.input :sun_light, collection: (400..800).step(100), include_blank: '忽略', label: '日光照明'
  = field_set_tag do
    = f.input :people, collection: (2..6), label: '人數'
    = f.input :people_density, collection: (10.0..26.5).step(0.5).map{|float| ["#{float} 公尺平方/人（#{((155*3.3)/float).round} 人）", float]}, label: '室內人數（室內總人數）'