%h2.StepTitle 選擇建築模型
%br
%ul.nav.nav-pills
  %li.active= link_to '住宅類', '#living', 'data-toggle' => 'pill'
  %li= link_to '商業類', '#commercial', 'data-toggle' => 'pill'
.tab-content
  #living.tab-pane.active
    .btn-group{"data-toggle" => "buttons-radio"}
      = button_tag type: :button, id: '3f-btn', class: 'building-btn btn btn-large btn-success active', 'data-value' => '3f' do
        = image_tag '3F.jpg'
        %h2 三樓民宅
      = button_tag type: :button, id: '4f-btn', class: 'building-btn btn btn-large btn-success', 'data-value' => '4f' do
        = image_tag '4F.jpg'
        %h2 四樓民宅
      = button_tag type: :button, id: '10f-btn', class: 'building-btn btn btn-large btn-success' do
        = image_tag '10F.jpg'
        %h2 公寓大廈
        = select_tag :F10_select, options_for_select([['頂樓', 'top'], ['中間', 'mid'], ['一樓', 'btn']]), class: 'span1'
  #commercial.tab-pane
    .btn-group{"data-toggle" => "buttons-radio"}
      = button_tag type: :button, id: 'small-office-btn', class: 'btn btn-large btn-success active', 'data-value' => 'small_office' do
        = image_tag 'small-office-1.png'
        %h2 小型辦公室
= f.input :building_model, as: :hidden, input_html: {value: '3f'}