%h2.StepTitle 選擇氣候
%br
%div= f.input_field :weather, collection: Simulation::Weather::OPTIONS, include_blank: false, label: false
%br
%embed#taiwan{src: asset_path('taiwan.svg'), type: 'image/svg+xml', height: 400}