%h2.StepTitle 選擇身份
%br
.btn-group{"data-toggle" => "buttons-radio"}
  = button_tag type: :button, id: 'role-normal-btn', class: 'btn btn-large btn-info active' do
    = image_tag 'user.png'
    %h2 一般使用者
  = button_tag type: :button, id: 'role-air-btn', class: 'btn btn-large btn-info' do
    = image_tag 'air.png'
    %h2 空調業者
  = button_tag type: :button, id: 'role-light-btn', class: 'btn btn-large btn-info' do
    = image_tag 'light.png'
    %h2 照明業者
  = button_tag type: :button, id: 'role-pro-btn', class: 'disabled btn btn-large btn-info' do
    = image_tag 'professor.png'
    %h2 建築專家
    %h1.coming-soon 建構中
= f.input :role, as: :hidden, input_html: {value: 'normal'}