= simple_form_for @filter, url: simulations_path, method: :get do |f|
  = f.input_field :companies, placeholder: '廠商', collection: @companies, multiple: true, class: 'select2'
  = f.input_field :weathers, collection: Simulation::Weather::OPTIONS, multiple: true, class: 'select2', placeholder: '氣候區'
  = f.input_field :building_models, collection: Simulation::BUILDING_MODEL_OPTIONS, multiple: true, class: 'select2', placeholder: '建築'
  = f.submit '搜尋', class: 'btn'
= form_tag total_site_energy_compare_simulations_path, method: :get do
  = submit_tag '比較', class: 'btn btn-primary'
  = paginate @sims
  %table.table
    %thead
      %th= check_box_tag :select_all
      %th #
      %th 冷氣機廠牌
      %th 冷氣機型號
      %th 建築類別
      %th 地理位置
      %th 狀態
      %th 時間
    %tbody
      - @sims.each do |sim|
        %tr
          %td= check_box_tag 'simulation_ids[]', sim.id, false, class: 'selectable'
          %td= link_to sim.id, sim
          %td= sim.air_conditioner.try(:company)
          %td= sim.air_conditioner.try(:name)
          %td= sim.building_model_text
          %td= sim.weather_text
          %td= content_tag(:span, sim.finished? ? '完成' : '尚未完成', class: "label #{sim.finished? ? 'label-success' : 'label-important'}")
          %td= l(sim.created_at, format: :long)
  = paginate @sims
  = submit_tag '比較', class: 'btn btn-primary'