#wizard_container.row.hide
  .span12
    = simple_form_for @sim, html: {class: 'form-horizontal', :'data-type' => :json}, remote: true do |f|
      #wizard.swMain
        %ul
          %li
            %a{:href => "#step-1"}
              %label.stepNumber 1
              %span.stepDesc
                選擇身份
                %br/
                %small 選擇身份
          %li
            %a{:href => "#step-2"}
              %label.stepNumber 2
              %span.stepDesc
                選擇建築模型
                %br/
                %small 選擇建築模型
          %li
            %a{:href => "#step-3"}
              %label.stepNumber 3
              %span.stepDesc
                選擇氣候
                %br/
                %small 選擇氣候
          %li
            %a{:href => "#step-4"}
              %label.stepNumber 4
              %span.stepDesc
                變數設定
                %br/
                %small 變數設定
          %li
            %a{:href => "#step-5"}
              %label.stepNumber 5
              %span.stepDesc
                報表結果
                %br/
                %small 報表結果
        #step-1.step= render 'step1', f: f
        #step-2.step= render 'step2', f: f
        #step-3.step= render 'step3', f: f
        #step-4.step= render 'step4', f: f
        #step-5.step
          #report
          #simulating
            %h1
              模擬中
              %br
              %small 因不同案例與網路速度之差異，各分析案例所需時間不盡相同，平均需時 3~5 分鐘，請耐心等候……
            .progress.progress-striped.active
              .bar{:style => "width: 100%;"}
#splash_screen_container.row
  .offset4.span4= image_tag :'splash_screen.png', id: :splash_screen, class: 'hide'