.hero-unit
  = image_tag 'LOGO+TEXT 128 X 325.png', class: 'pull-left', style: 'position: relative; bottom: 30px;'
  %h1 模擬報表
.page-header
  %h1 建築資訊
= render @sim
.page-header
  %h1 能源消耗分佈百分比
%canvas#chart-1{height: 400, width: 400}
- data = @data.get_topic("Utility Use Per Conditioned Floor Area").transpose
:coffee
  $ () ->
    ctx = $('#chart-1')[0].getContext("2d")
    data =
      labels: #{data[0][1..-2].to_json},
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          data: #{data[1][1..-2].map{|i| (i.to_f/data[1][-1].to_f) * 100}.to_json}
        }
      ]
    new Chart(ctx).Bar data, scaleLabel: "<%=value%> %"

.page-header
  %h1 室內各空間照明耗能百分比
%canvas#chart-2{height: 400, width: 600}
- data = @data.get_topic("Interior Lighting").transpose
:coffee
  $ () ->
    ctx = $('#chart-2')[0].getContext("2d")
    data =
      labels: #{data[0][1..-2].to_json},
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          data: #{data[4][1..-2].map{|i| (i.to_f/data[4][-1].to_f) * 100}.to_json}
        }
      ]
    new Chart(ctx).Bar data, scaleLabel: "<%=value%> %"

.page-header
  %h1 各月份空調耗能百分比
%canvas#chart-3{height: 400, width: 1000}
- data = @data.get_topic([["REPORT:", "EndUseEnergyConsumptionElectricityMonthly"], ["FOR:", "Meter"]]).transpose
:coffee
  $ () ->
    ctx = $('#chart-3')[0].getContext("2d")
    data =
      labels: #{data[0][1..12].to_json},
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          data: #{data[8][1..12].map{|i| (i.to_f/data[8][1..12].map(&:to_f).sum) * 100}.to_json}
        }
      ]
    new Chart(ctx).Bar data, scaleLabel: "<%=value%> %"

.page-header
  %h1 各月份室內照明耗能百分比
%canvas#chart-4{height: 400, width: 1000}
- data = @data.get_topic([["REPORT:", "EndUseEnergyConsumptionElectricityMonthly"], ["FOR:", "Meter"]]).transpose
:coffee
  $ () ->
    ctx = $('#chart-4')[0].getContext("2d")
    data =
      labels: #{data[0][1..12].to_json},
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          data: #{data[1][1..12].map{|i| (i.to_f/data[1][1..12].map(&:to_f).sum) * 100}.to_json}
        }
      ]
    new Chart(ctx).Bar data, scaleLabel: "<%=value%> %"

.page-header
  %h1
    各月份總耗電分佈
    %small 千瓦小時
%canvas#chart-5{height: 400, width: 1000}
- data = @data.get_topic([["REPORT:", "EndUseEnergyConsumptionElectricityMonthly"], ["FOR:", "Meter"]]).transpose.select{|i| i.first.nil? || i.first =~ /\[(J|kWh)\]/}
- total = [data[0][1..12], []]
- data.transpose[1..12].each_with_index{|array, i| total[1][i] = array[1..-1].map(&:to_f).sum}
:coffee
  $ () ->
    ctx = $('#chart-5')[0].getContext("2d")
    data =
      labels: #{total[0].to_json},
      datasets: [
        {
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,1)",
          data: #{total[1].map{|i| (i.to_f/total[1].sum) * 100}.to_json}
        }
      ]
    new Chart(ctx).Bar data, scaleLabel: "<%=value%> %"