%h1
  模擬中
  %br
  %small 因不同案例與網路速度之差異，各分析案例所需時間不盡相同，平均需時 3~5 分鐘，請耐心等候……
.progress.progress-striped.active
  .bar{:style => "width: 100%;"}
:coffee
  setInterval () ->
    $.ajax
      url: '#{check_simulation_path(@sim)}',
      dataType: 'json'
    .done (data) ->
      console.log(data)
      window.location.replace('#{simulation_path(@sim)}') if data.sim.simulation_dir
  , 5000