= form_tag total_site_energy_compare_simulations_path, method: :get do
  - params[:simulation_ids].each do |id|
    = hidden_field_tag :'simulation_ids[]', id
  = label_tag :start_value, '下邊界', style: 'display: inline'
  = number_field_tag :start_value, @start_value, class: 'input-mini', min: 0
  = label_tag :start_value, '上邊界', style: 'display: inline'
  = number_field_tag :end_value, @end_value, class: 'input-mini', min: 0
  = submit_tag '顯示', class: 'btn'
%canvas#chart{height: 512, width: @simulations.count*100, :'data-labels' => @simulations.map(&:id), :'data-data' => @datas, :'data-scale_override' => @scale_override, :'data-scale_steps' => @scale_steps, :'data-scale_step_width' => @scale_step_width, :'data-scale_start_value' => @scale_start_value}
%table.table
  %thead
    %tr
      %th 模擬編號
      %th 冷氣機廠牌
      %th 冷氣機型號
      %th 建築類別
      %th 總耗能（kWh）
  %tbody
    - @simulations.zip(@datas).each do |element|
      %tr
        %td= link_to element.first.id, element.first
        %td= element.first.air_conditioner.try(:company)
        %td= element.first.air_conditioner.try(:registration_id)
        %td= element.first.building_model_text
        %td= element.last
%br
= link_to '返回', simulations_path