<h2>編輯個人資料</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "若不想改密碼，請留空", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "請輸入原本的密碼以更新你的資料", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "更新" %>
  </div>
<% end %>

<h3>刪除帳號</h3>

<p><%= link_to "刪除帳號", registration_path(resource_name), :data => { :confirm => "此操作不可逆，你確定？" }, :method => :delete %></p>
