!-Generator IDFEditor 1.43
!-Option SortedOrder

!Internal loads
##set1 LPD = <%= self.power = power.presence || 6.46 %>    ! W/m2
##set1 EPD = 10.76    ! W/m2

!Cooling setpoint
##set1 CoolSP = <%= self.room_temperature = room_temperature.presence || 25 %>  !C

!cooling COP
##set1 COP = <%= (cop.presence || 3.0) * (rate_of_decline.presence || 90.0) / 100.0 %>

!Occupancy
##set1 People = <%= self.people = people.presence || 4 %> 

!Daylighting
##set1 Daylighting = <%= self.sun_light = sun_light ? 'Yes' : 'No' %>

!Degree
##set1 Deg = <%= self.deg = deg.presence || 0.0 %>

!-NOTE: All comments with '!-' are ignored by the IDFEditor and are generated automatically.
!-      Use '!' comments if they need to be retained when using the IDFEditor.


!-   ===========  ALL OBJECTS IN CLASS: VERSION ===========

Version,
    7.2;                     !- Version Identifier


!-   ===========  ALL OBJECTS IN CLASS: SIMULATIONCONTROL ===========

SimulationControl,
    Yes,                     !- Do Zone Sizing Calculation
    Yes,                     !- Do System Sizing Calculation
    No,                      !- Do Plant Sizing Calculation
    No,                      !- Run Simulation for Sizing Periods
    Yes;                     !- Run Simulation for Weather File Run Periods


!-   ===========  ALL OBJECTS IN CLASS: BUILDING ===========

Building,
    Top Floor,               !- Name
    Deg[],                     !- North Axis {deg}
    City,                    !- Terrain
    0.05,                    !- Loads Convergence Tolerance Value
    0.2,                     !- Temperature Convergence Tolerance Value {deltaC}
    FullInteriorAndExterior, !- Solar Distribution
    25,                      !- Maximum Number of Warmup Days
    6;                       !- Minimum Number of Warmup Days


!-   ===========  ALL OBJECTS IN CLASS: SHADOWCALCULATION ===========

ShadowCalculation,
    20,                      !- Calculation Frequency
    15000;                   !- Maximum Figures in Shadow Overlap Calculations


!-   ===========  ALL OBJECTS IN CLASS: SURFACECONVECTIONALGORITHM:INSIDE ===========

SurfaceConvectionAlgorithm:Inside,
    TARP;                    !- Algorithm


!-   ===========  ALL OBJECTS IN CLASS: SURFACECONVECTIONALGORITHM:OUTSIDE ===========

SurfaceConvectionAlgorithm:Outside,
    DOE-2;                   !- Algorithm


!-   ===========  ALL OBJECTS IN CLASS: HEATBALANCEALGORITHM ===========

HeatBalanceAlgorithm,
    ConductionTransferFunction,  !- Algorithm
    200,                     !- Surface Temperature Upper Limit {C}
    0.1,                     !- Minimum Surface Convection Heat Transfer Coefficient Value {W/m2-K}
    1000;                    !- Maximum Surface Convection Heat Transfer Coefficient Value {W/m2-K}


!-   ===========  ALL OBJECTS IN CLASS: ZONEAIRHEATBALANCEALGORITHM ===========

ZoneAirHeatBalanceAlgorithm,
    AnalyticalSolution;      !- Algorithm


!-   ===========  ALL OBJECTS IN CLASS: TIMESTEP ===========

Timestep,
    4;                       !- Number of Timesteps per Hour


!-   ===========  ALL OBJECTS IN CLASS: CONVERGENCELIMITS ===========

ConvergenceLimits,
    2,                       !- Minimum System Timestep {minutes}
    25,                      !- Maximum HVAC Iterations
    2,                       !- Minimum Plant Iterations
    8;                       !- Maximum Plant Iterations


!-   ===========  ALL OBJECTS IN CLASS: SITE:LOCATION ===========

Site:Location,
    Taiwan Hsinchu,          !- Name
    24.49,                   !- Latitude {deg}
    121.0,                   !- Longitude {deg}
    8.0,                     !- Time Zone {hr}
    0;                       !- Elevation {m}


!-   ===========  ALL OBJECTS IN CLASS: SIZINGPERIOD:DESIGNDAY ===========

SizingPeriod:DesignDay,
    Hsinchu Annual Heating 99% Design Conditions DB,  !- Name
    1,                       !- Month
    6,                       !- Day of Month
    WinterDesignDay,         !- Day Type
    7.8,                     !- Maximum Dry-Bulb Temperature {C}
    0,                       !- Daily Dry-Bulb Temperature Range {deltaC}
    DefaultMultipliers,      !- Dry-Bulb Temperature Range Modifier Type
    ,                        !- Dry-Bulb Temperature Range Modifier Schedule Name
    WetBulb,                 !- Humidity Condition Type
    -17.3,                   !- Wetbulb or DewPoint at Maximum Dry-Bulb {C}
    ,                        !- Humidity Condition Day Schedule Name
    ,                        !- Humidity Ratio at Maximum Dry-Bulb {kgWater/kgDryAir}
    ,                        !- Enthalpy at Maximum Dry-Bulb {J/kg}
    ,                        !- Daily Wet-Bulb Temperature Range {deltaC}
    99063,                   !- Barometric Pressure {Pa}
    2.8,                     !- Wind Speed {m/s}
    270,                     !- Wind Direction {deg}
    No,                      !- Rain Indicator
    No,                      !- Snow Indicator
    No,                      !- Daylight Saving Time Indicator
    ASHRAEClearSky,          !- Solar Model Indicator
    ,                        !- Beam Solar Day Schedule Name
    ,                        !- Diffuse Solar Day Schedule Name
    0,                       !- ASHRAE Clear Sky Optical Depth for Beam Irradiance (taub) {dimensionless}
    0,                       !- ASHRAE Clear Sky Optical Depth for Diffuse Irradiance (taud) {dimensionless}
    0;                       !- Sky Clearness

SizingPeriod:DesignDay,
    Hsinchu Annual Cooling 1% Design Conditions DB/MCWB,  !- Name
    8,                       !- Month
    19,                      !- Day of Month
    SummerDesignDay,         !- Day Type
    36.7,                    !- Maximum Dry-Bulb Temperature {C}
    10.7,                    !- Daily Dry-Bulb Temperature Range {deltaC}
    DefaultMultipliers,      !- Dry-Bulb Temperature Range Modifier Type
    ,                        !- Dry-Bulb Temperature Range Modifier Schedule Name
    WetBulb,                 !- Humidity Condition Type
    23,                      !- Wetbulb or DewPoint at Maximum Dry-Bulb {C}
    ,                        !- Humidity Condition Day Schedule Name
    ,                        !- Humidity Ratio at Maximum Dry-Bulb {kgWater/kgDryAir}
    ,                        !- Enthalpy at Maximum Dry-Bulb {J/kg}
    ,                        !- Daily Wet-Bulb Temperature Range {deltaC}
    99063,                   !- Barometric Pressure {Pa}
    1.6,                     !- Wind Speed {m/s}
    230,                     !- Wind Direction {deg}
    No,                      !- Rain Indicator
    No,                      !- Snow Indicator
    No,                      !- Daylight Saving Time Indicator
    ASHRAEClearSky,          !- Solar Model Indicator
    ,                        !- Beam Solar Day Schedule Name
    ,                        !- Diffuse Solar Day Schedule Name
    0,                       !- ASHRAE Clear Sky Optical Depth for Beam Irradiance (taub) {dimensionless}
    0,                       !- ASHRAE Clear Sky Optical Depth for Diffuse Irradiance (taud) {dimensionless}
    0;                       !- Sky Clearness


!-   ===========  ALL OBJECTS IN CLASS: RUNPERIOD ===========

RunPeriod,
    ,                        !- Name
    1,                       !- Begin Month
    1,                       !- Begin Day of Month
    12,                      !- End Month
    31,                      !- End Day of Month
    UseWeatherFile,          !- Day of Week for Start Day
    No,                      !- Use Weather File Holidays and Special Days
    No,                      !- Use Weather File Daylight Saving Period
    No,                      !- Apply Weekend Holiday Rule
    Yes,                     !- Use Weather File Rain Indicators
    Yes,                     !- Use Weather File Snow Indicators
    1,                       !- Number of Times Runperiod to be Repeated
    Yes;                     !- Increment Day of Week on repeat


!-   ===========  ALL OBJECTS IN CLASS: SITE:GROUNDTEMPERATURE:BUILDINGSURFACE ===========

Site:GroundTemperature:BuildingSurface,
    10,                      !- January Ground Temperature {C}
    10,                      !- February Ground Temperature {C}
    20,                      !- March Ground Temperature {C}
    14,                      !- April Ground Temperature {C}
    14,                      !- May Ground Temperature {C}
    30,                      !- June Ground Temperature {C}
    30,                      !- July Ground Temperature {C}
    30,                      !- August Ground Temperature {C}
    30,                      !- September Ground Temperature {C}
    20,                      !- October Ground Temperature {C}
    20,                      !- November Ground Temperature {C}
    20;                      !- December Ground Temperature {C}


!-   ===========  ALL OBJECTS IN CLASS: SITE:GROUNDREFLECTANCE ===========

Site:GroundReflectance,
    0.2,                     !- January Ground Reflectance {dimensionless}
    0.2,                     !- February Ground Reflectance {dimensionless}
    0.2,                     !- March Ground Reflectance {dimensionless}
    0.2,                     !- April Ground Reflectance {dimensionless}
    0.2,                     !- May Ground Reflectance {dimensionless}
    0.2,                     !- June Ground Reflectance {dimensionless}
    0.2,                     !- July Ground Reflectance {dimensionless}
    0.2,                     !- August Ground Reflectance {dimensionless}
    0.2,                     !- September Ground Reflectance {dimensionless}
    0.2,                     !- October Ground Reflectance {dimensionless}
    0.2,                     !- November Ground Reflectance {dimensionless}
    0.2;                     !- December Ground Reflectance {dimensionless}


!-   ===========  ALL OBJECTS IN CLASS: SCHEDULETYPELIMITS ===========

ScheduleTypeLimits,
    Any Number;              !- Name

ScheduleTypeLimits,
    Fraction,                !- Name
    0.0,                     !- Lower Limit Value
    1.0,                     !- Upper Limit Value
    CONTINUOUS;              !- Numeric Type

ScheduleTypeLimits,
    Temperature,             !- Name
    -60,                     !- Lower Limit Value
    200,                     !- Upper Limit Value
    CONTINUOUS;              !- Numeric Type

ScheduleTypeLimits,
    On/Off,                  !- Name
    0,                       !- Lower Limit Value
    1,                       !- Upper Limit Value
    DISCRETE;                !- Numeric Type

ScheduleTypeLimits,
    Humidity,                !- Name
    10,                      !- Lower Limit Value
    90,                      !- Upper Limit Value
    CONTINUOUS;              !- Numeric Type

ScheduleTypeLimits,
    Number;                  !- Name


!-   ===========  ALL OBJECTS IN CLASS: SCHEDULE:COMPACT ===========

Schedule:Compact,
    Lights Schedule,         !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays,           !- Field 2
    Until: 05:00,            !- Field 3
    .01,                     !- Field 4
    Until: 07:00,            !- Field 5
    .1,                      !- Field 6
    Until: 08:00,            !- Field 7
    .2,                      !- Field 8
    Until: 17:00,            !- Field 9
    0,                       !- Field 10
    Until: 18:00,            !- Field 11
    .2,                      !- Field 12
    Until: 20:00,            !- Field 13
    .4,                      !- Field 14
    Until: 22:00,            !- Field 15
    .6,                      !- Field 16
    Until: 23:00,            !- Field 17
    .5,                      !- Field 18
    Until: 24:00,            !- Field 19
    .3,                      !- Field 20
    For: SummerDesignDay,    !- Field 21
    Until: 24:00,            !- Field 22
    1,                       !- Field 23
    For: WinterDesignDay,    !- Field 24
    Until: 24:00,            !- Field 25
    0,                       !- Field 26
    For: AllOtherDays,       !- Field 27
    Until: 07:00,            !- Field 28
    .01,                     !- Field 29
    Until: 11:00,            !- Field 30
    .1,                      !- Field 31
    Until: 14:00,            !- Field 32
    0,                       !- Field 33
    Until: 16:00,            !- Field 34
    .1,                      !- Field 35
    Until: 20:00,            !- Field 36
    .2,                      !- Field 37
    Until: 24:00,            !- Field 38
    .5;                      !- Field 39

Schedule:Compact,
    Equipment Schedule,      !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays,           !- Field 2
    Until: 05:00,            !- Field 3
    .15,                     !- Field 4
    Until: 07:00,            !- Field 5
    .25,                     !- Field 6
    Until: 08:00,            !- Field 7
    .3,                      !- Field 8
    Until: 17:00,            !- Field 9
    .15,                     !- Field 10
    Until: 18:00,            !- Field 11
    .4,                      !- Field 12
    Until: 20:00,            !- Field 13
    .6,                      !- Field 14
    Until: 22:00,            !- Field 15
    .8,                      !- Field 16
    Until: 23:00,            !- Field 17
    .6,                      !- Field 18
    Until: 24:00,            !- Field 19
    .3,                      !- Field 20
    For: SummerDesignDay,    !- Field 21
    Until: 24:00,            !- Field 22
    1,                       !- Field 23
    For: WinterDesignDay,    !- Field 24
    Until: 24:00,            !- Field 25
    0,                       !- Field 26
    For: AllOtherDays,       !- Field 27
    Until: 07:00,            !- Field 28
    .15,                     !- Field 29
    Until: 11:00,            !- Field 30
    .3,                      !- Field 31
    Until: 14:00,            !- Field 32
    .2,                      !- Field 33
    Until: 16:00,            !- Field 34
    .3,                      !- Field 35
    Until: 20:00,            !- Field 36
    .4,                      !- Field 37
    Until: 24:00,            !- Field 38
    .7;                      !- Field 39

Schedule:Compact,
    Occupancy Schedule,      !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays,           !- Field 2
    Until: 05:00,            !- Field 3
    .5,                      !- Field 4
    Until: 07:00,            !- Field 5
    .5,                      !- Field 6
    Until: 08:00,            !- Field 7
    .4,                      !- Field 8
    Until: 17:00,            !- Field 9
    0,                       !- Field 10
    Until: 18:00,            !- Field 11
    .4,                      !- Field 12
    Until: 20:00,            !- Field 13
    .5,                      !- Field 14
    Until: 22:00,            !- Field 15
    .5,                      !- Field 16
    Until: 23:00,            !- Field 17
    .5,                      !- Field 18
    Until: 24:00,            !- Field 19
    .5,                      !- Field 20
    For: SummerDesignDay,    !- Field 21
    Until: 24:00,            !- Field 22
    1,                       !- Field 23
    For: WinterDesignDay,    !- Field 24
    Until: 24:00,            !- Field 25
    1,                       !- Field 26
    For: AllOtherDays,       !- Field 27
    Until: 06:00,            !- Field 28
    .5,                      !- Field 29
    Until: 08:00,            !- Field 30
    .5,                      !- Field 31
    Until: 12:00,            !- Field 32
    .4,                      !- Field 33
    Until: 17:00,            !- Field 34
    .3,                      !- Field 35
    Until: 24:00,            !- Field 36
    .5;                      !- Field 37

Schedule:Compact,
    Infiltration Schedule,   !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays SummerDesignDay,  !- Field 2
    Until: 06:00,            !- Field 3
    1.0,                     !- Field 4
    Until: 22:00,            !- Field 5
    1,                       !- Field 6
    Until: 24:00,            !- Field 7
    1.0,                     !- Field 8
    For: Saturday WinterDesignDay,  !- Field 9
    Until: 06:00,            !- Field 10
    1.0,                     !- Field 11
    Until: 18:00,            !- Field 12
    1,                       !- Field 13
    Until: 24:00,            !- Field 14
    1.0,                     !- Field 15
    For: Sunday Holidays AllOtherDays,  !- Field 16
    Until: 24:00,            !- Field 17
    1.0;                     !- Field 18

Schedule:Compact,
    Infiltration Half On Schedule,  !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays SummerDesignDay,  !- Field 2
    Until: 06:00,            !- Field 3
    1.0,                     !- Field 4
    Until: 22:00,            !- Field 5
    0.5,                     !- Field 6
    Until: 24:00,            !- Field 7
    1.0,                     !- Field 8
    For: Saturday WinterDesignDay,  !- Field 9
    Until: 06:00,            !- Field 10
    1.0,                     !- Field 11
    Until: 18:00,            !- Field 12
    0.5,                     !- Field 13
    Until: 24:00,            !- Field 14
    1.0,                     !- Field 15
    For: Sunday Holidays AllOtherDays,  !- Field 16
    Until: 24:00,            !- Field 17
    1.0;                     !- Field 18

Schedule:Compact,
    Infiltration Quarter On Schedule,  !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays SummerDesignDay,  !- Field 2
    Until: 06:00,            !- Field 3
    1.0,                     !- Field 4
    Until: 22:00,            !- Field 5
    0.25,                    !- Field 6
    Until: 24:00,            !- Field 7
    1.0,                     !- Field 8
    For: Saturday WinterDesignDay,  !- Field 9
    Until: 06:00,            !- Field 10
    1.0,                     !- Field 11
    Until: 18:00,            !- Field 12
    0.25,                    !- Field 13
    Until: 24:00,            !- Field 14
    1.0,                     !- Field 15
    For: Sunday Holidays AllOtherDays,  !- Field 16
    Until: 24:00,            !- Field 17
    1.0;                     !- Field 18

Schedule:Compact,
    Hours of Operation Schedule,  !- Name
    On/Off,                  !- Schedule Type Limits Name
    Through: 5/31,           !- Field 1
    For Alldays,             !- Field 2
    Until: 24:00,            !- Field 3
    0,                       !- Field 4
    Through: 9/30,           !- Field 5
    For: Weekdays ,          !- Field 6
    Until: 07:00,            !- Field 7
    1,                       !- Field 8
    Until: 18:00,            !- Field 9
    0,                       !- Field 10
    Until: 24:00,            !- Field 11
    1,                       !- Field 12
    For: WinterDesignDay,    !- Field 13
    Until: 24:00,            !- Field 14
    0,                       !- Field 15
    For: SummerDesignDay AllOtherDays,  !- Field 16
    Until: 12:00,            !- Field 17
    1,                       !- Field 18
    Until: 14:00,            !- Field 19
    0,                       !- Field 20
    Until: 16:00,            !- Field 21
    1,                       !- Field 22
    Until: 19:00,            !- Field 23
    0,                       !- Field 24
    Until: 24:00,            !- Field 25
    1,                       !- Field 26
    Through: 12/31,          !- Field 27
    For Alldays,             !- Field 28
    Until: 24:00,            !- Field 29
    0;                       !- Field 30

Schedule:Compact,
    Always On,               !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: AllDays,            !- Field 2
    Until: 24:00,            !- Field 3
    1.0;                     !- Field 4

Schedule:Compact,
    Always Off,              !- Name
    Fraction,                !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: AllDays,            !- Field 2
    Until: 24:00,            !- Field 3
    0.0;                     !- Field 4

Schedule:Compact,
    Heating Setpoint Schedule,  !- Name
    Temperature,             !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: Weekdays,           !- Field 2
    Until: 05:00,            !- Field 3
    0,                       !- Field 4
    Until: 19:00,            !- Field 5
    0,                       !- Field 6
    Until: 24:00,            !- Field 7
    0,                       !- Field 8
    For SummerDesignDay,     !- Field 9
    Until: 24:00,            !- Field 10
    0,                       !- Field 11
    For: Saturday,           !- Field 12
    Until: 06:00,            !- Field 13
    0,                       !- Field 14
    Until: 17:00,            !- Field 15
    0,                       !- Field 16
    Until: 24:00,            !- Field 17
    0,                       !- Field 18
    For: WinterDesignDay,    !- Field 19
    Until: 24:00,            !- Field 20
    0,                       !- Field 21
    For: Sunday Holidays AllOtherDays,  !- Field 22
    Until: 24:00,            !- Field 23
    0;                       !- Field 24

Schedule:Compact,
    Activity Schedule,       !- Name
    Any Number,              !- Schedule Type Limits Name
    Through: 12/31,          !- Field 1
    For: AllDays,            !- Field 2
    Until: 24:00,            !- Field 3
    120.;                    !- Field 4

Schedule:Compact,
    Cooling Setpoint Schedule,  !- Name
    Temperature,             !- Schedule Type Limits Name
    Through: 5/31,           !- Field 1
    For Alldays,             !- Field 2
    Until: 24:00,            !- Field 3
    35,                      !- Field 4
    Through: 9/30,           !- Field 5
    For: Weekdays,           !- Field 6
    Until: 07:00,            !- Field 7
    CoolSP[],                      !- Field 8
    Until: 18:00,            !- Field 9
    35,                      !- Field 10
    Until: 24:00,            !- Field 11
    CoolSP[],                      !- Field 12
    For: WinterDesignDay,    !- Field 13
    Until: 24:00,            !- Field 14
    35,                      !- Field 15
    For: SummerDesignDay AllOtherDays,  !- Field 16
    Until: 12:00,            !- Field 17
    CoolSP[],                      !- Field 18
    Until: 14:00,            !- Field 19
    35,                      !- Field 20
    Until: 16:00,            !- Field 21
    CoolSP[],                      !- Field 22
    Until: 19:00,            !- Field 23
    35,                      !- Field 24
    Until: 24:00,            !- Field 25
    CoolSP[],                      !- Field 26
    Through: 12/31,          !- Field 27
    For Alldays,             !- Field 28
    Until: 24:00,            !- Field 29
    35;                      !- Field 30


!-   ===========  ALL OBJECTS IN CLASS: MATERIAL ===========

Material,
    F08 Metal surface,       !- Name
    Smooth,                  !- Roughness
    0.0008,                  !- Thickness {m}
    45.28,                   !- Conductivity {W/m-K}
    7824,                    !- Density {kg/m3}
    500;                     !- Specific Heat {J/kg-K}

Material,
    I01 25mm insulation board,  !- Name
    MediumRough,             !- Roughness
    0.0254,                  !- Thickness {m}
    0.03,                    !- Conductivity {W/m-K}
    43,                      !- Density {kg/m3}
    1210;                    !- Specific Heat {J/kg-K}

Material,
    I02 50mm insulation board,  !- Name
    MediumRough,             !- Roughness
    0.0508,                  !- Thickness {m}
    0.03,                    !- Conductivity {W/m-K}
    43,                      !- Density {kg/m3}
    1210;                    !- Specific Heat {J/kg-K}

Material,
    G01a 19mm gypsum board,  !- Name
    MediumSmooth,            !- Roughness
    0.019,                   !- Thickness {m}
    0.16,                    !- Conductivity {W/m-K}
    800,                     !- Density {kg/m3}
    1090;                    !- Specific Heat {J/kg-K}

Material,
    M11 100mm lightweight concrete,  !- Name
    MediumRough,             !- Roughness
    0.1016,                  !- Thickness {m}
    0.53,                    !- Conductivity {W/m-K}
    1280,                    !- Density {kg/m3}
    840;                     !- Specific Heat {J/kg-K}

Material,
    F16 Acoustic tile,       !- Name
    MediumSmooth,            !- Roughness
    0.0191,                  !- Thickness {m}
    0.06,                    !- Conductivity {W/m-K}
    368,                     !- Density {kg/m3}
    590;                     !- Specific Heat {J/kg-K}

Material,
    M01 100mm brick,         !- Name
    MediumRough,             !- Roughness
    0.1016,                  !- Thickness {m}
    0.89,                    !- Conductivity {W/m-K}
    1920,                    !- Density {kg/m3}
    790;                     !- Specific Heat {J/kg-K}

Material,
    M15 200mm heavyweight concrete,  !- Name
    MediumRough,             !- Roughness
    0.2032,                  !- Thickness {m}
    1.95,                    !- Conductivity {W/m-K}
    2240,                    !- Density {kg/m3}
    900;                     !- Specific Heat {J/kg-K}

Material,
    M05 200mm concrete block,!- Name
    MediumRough,             !- Roughness
    0.2032,                  !- Thickness {m}
    1.11,                    !- Conductivity {W/m-K}
    800,                     !- Density {kg/m3}
    920;                     !- Specific Heat {J/kg-K}

Material,
    G05 25mm wood,           !- Name
    MediumSmooth,            !- Roughness
    0.0254,                  !- Thickness {m}
    0.15,                    !- Conductivity {W/m-K}
    608,                     !- Density {kg/m3}
    1630;                    !- Specific Heat {J/kg-K}

Material,
    EW1,                     !- Name
    Smooth,                  !- Roughness
    0.001,                   !- Thickness {m}
    23,                      !- Conductivity {W/m-K}
    1.19,                    !- Density {kg/m3}
    1005,                    !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    EW2,                     !- Name
    MediumRough,             !- Roughness
    0.01,                    !- Thickness {m}
    1.3,                     !- Conductivity {W/m-K}
    2400,                    !- Density {kg/m3}
    800,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    EW3,                     !- Name
    MediumRough,             !- Roughness
    0.015,                   !- Thickness {m}
    1.5,                     !- Conductivity {W/m-K}
    2000,                    !- Density {kg/m3}
    800,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    EW4,                     !- Name
    MediumRough,             !- Roughness
    0.12,                    !- Thickness {m}
    1.4,                     !- Conductivity {W/m-K}
    2200,                    !- Density {kg/m3}
    900,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    EW5,                     !- Name
    MediumRough,             !- Roughness
    0.01,                    !- Thickness {m}
    1.5,                     !- Conductivity {W/m-K}
    2000,                    !- Density {kg/m3}
    800,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    EW6,                     !- Name
    Smooth,                  !- Roughness
    0.001,                   !- Thickness {m}
    9,                       !- Conductivity {W/m-K}
    1.19,                    !- Density {kg/m3}
    1005,                    !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R1,                      !- Name
    Smooth,                  !- Roughness
    0.001,                   !- Thickness {m}
    23,                      !- Conductivity {W/m-K}
    1.19,                    !- Density {kg/m3}
    1005,                    !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R2,                      !- Name
    MediumRough,             !- Roughness
    0.002,                   !- Thickness {m}
    0.05,                    !- Conductivity {W/m-K}
    30,                      !- Density {kg/m3}
    600,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R3,                      !- Name
    MediumRough,             !- Roughness
    0.1,                     !- Thickness {m}
    0.8,                     !- Conductivity {W/m-K}
    1600,                    !- Density {kg/m3}
    800,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R4,                      !- Name
    MediumRough,             !- Roughness
    0.0015,                  !- Thickness {m}
    45,                      !- Conductivity {W/m-K}
    7860,                    !- Density {kg/m3}
    500,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R5,                      !- Name
    MediumRough,             !- Roughness
    0.025,                   !- Thickness {m}
    0.051,                   !- Conductivity {W/m-K}
    1200,                    !- Density {kg/m3}
    600,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R6,                      !- Name
    MediumRough,             !- Roughness
    0.01,                    !- Thickness {m}
    0.04,                    !- Conductivity {W/m-K}
    25,                      !- Density {kg/m3}
    600,                     !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance

Material,
    R7,                      !- Name
    Smooth,                  !- Roughness
    0.001,                   !- Thickness {m}
    7,                       !- Conductivity {W/m-K}
    1.19,                    !- Density {kg/m3}
    1005,                    !- Specific Heat {J/kg-K}
    0.9,                     !- Thermal Absorptance
    0.7,                     !- Solar Absorptance
    0.7;                     !- Visible Absorptance


!-   ===========  ALL OBJECTS IN CLASS: MATERIAL:AIRGAP ===========

Material:AirGap,
    F04 Wall air space resistance,  !- Name
    0.15;                    !- Thermal Resistance {m2-K/W}

Material:AirGap,
    F05 Ceiling air space resistance,  !- Name
    0.18;                    !- Thermal Resistance {m2-K/W}


!-   ===========  ALL OBJECTS IN CLASS: WINDOWMATERIAL:GLAZING ===========

WindowMaterial:Glazing,
    Clear 3mm,               !- Name
    SpectralAverage,         !- Optical Data Type
    ,                        !- Window Glass Spectral Data Set Name
    0.003,                   !- Thickness {m}
    0.837,                   !- Solar Transmittance at Normal Incidence
    0.075,                   !- Front Side Solar Reflectance at Normal Incidence
    0.075,                   !- Back Side Solar Reflectance at Normal Incidence
    0.898,                   !- Visible Transmittance at Normal Incidence
    0.081,                   !- Front Side Visible Reflectance at Normal Incidence
    0.081,                   !- Back Side Visible Reflectance at Normal Incidence
    0,                       !- Infrared Transmittance at Normal Incidence
    0.84,                    !- Front Side Infrared Hemispherical Emissivity
    0.84,                    !- Back Side Infrared Hemispherical Emissivity
    1;                       !- Conductivity {W/m-K}


!-   ===========  ALL OBJECTS IN CLASS: WINDOWMATERIAL:GAS ===========

WindowMaterial:Gas,
    Air 13mm,                !- Name
    Air,                     !- Gas Type
    0.0127;                  !- Thickness {m}


!-   ===========  ALL OBJECTS IN CLASS: CONSTRUCTION ===========

Construction,
    Exterior Floor,          !- Name
    I02 50mm insulation board,  !- Outside Layer
    M15 200mm heavyweight concrete;  !- Layer 2

Construction,
    Interior Floor,          !- Name
    F16 Acoustic tile,       !- Outside Layer
    F05 Ceiling air space resistance,  !- Layer 2
    M11 100mm lightweight concrete;  !- Layer 3

Construction,
    Exterior Wall,           !- Name
    EW1,                     !- Outside Layer
    EW2,                     !- Layer 2
    EW3,                     !- Layer 3
    EW4,                     !- Layer 4
    EW5,                     !- Layer 5
    EW6;                     !- Layer 6

Construction,
    Interior Wall,           !- Name
    G01a 19mm gypsum board,  !- Outside Layer
    F04 Wall air space resistance,  !- Layer 2
    G01a 19mm gypsum board;  !- Layer 3

Construction,
    Exterior Roof,           !- Name
    R1,                      !- Outside Layer
    R2,                      !- Layer 2
    R3,                      !- Layer 3
    R4,                      !- Layer 4
    R5,                      !- Layer 5
    R6,                      !- Layer 6
    R7;                      !- Layer 7

Construction,
    Interior Ceiling,        !- Name
    M11 100mm lightweight concrete,  !- Outside Layer
    F05 Ceiling air space resistance,  !- Layer 2
    F16 Acoustic tile;       !- Layer 3

Construction,
    Exterior Window,         !- Name
    Clear 3mm;               !- Outside Layer

Construction,
    Interior Window,         !- Name
    Clear 3mm;               !- Outside Layer

Construction,
    Exterior Door,           !- Name
    F08 Metal surface,       !- Outside Layer
    I01 25mm insulation board;  !- Layer 2

Construction,
    Interior Door,           !- Name
    G05 25mm wood;           !- Outside Layer


!-   ===========  ALL OBJECTS IN CLASS: GLOBALGEOMETRYRULES ===========

GlobalGeometryRules,
    UpperLeftCorner,         !- Starting Vertex Position
    Counterclockwise,        !- Vertex Entry Direction
    Relative;                !- Coordinate System


!-   ===========  ALL OBJECTS IN CLASS: ZONE ===========

Zone,
    HVAC zone,               !- Name
    0.0,                     !- Direction of Relative North {deg}
    -15.34958,               !- X Origin {m}
    14.661765,               !- Y Origin {m}
    0.0,                     !- Z Origin {m}
    ,                        !- Type
    1,                       !- Multiplier
    3,                       !- Ceiling Height {m}
    autocalculate,           !- Volume {m3}
    autocalculate,           !- Floor Area {m2}
    ,                        !- Zone Inside Convection Algorithm
    ,                        !- Zone Outside Convection Algorithm
    Yes;                     !- Part of Total Floor Area

Zone,
    4E9450,                  !- Name
    0.0,                     !- Direction of Relative North {deg}
    6.845336,                !- X Origin {m}
    14.908607,               !- Y Origin {m}
    0.0,                     !- Z Origin {m}
    ,                        !- Type
    1,                       !- Multiplier
    3,                       !- Ceiling Height {m}
    autocalculate,           !- Volume {m3}
    autocalculate,           !- Floor Area {m2}
    ,                        !- Zone Inside Convection Algorithm
    ,                        !- Zone Outside Convection Algorithm
    Yes;                     !- Part of Total Floor Area


!-   ===========  ALL OBJECTS IN CLASS: BUILDINGSURFACE:DETAILED ===========

BuildingSurface:Detailed,
    C7AC13,                  !- Name
    Floor,                   !- Surface Type
    Interior Floor,          !- Construction Name
    HVAC zone,               !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    NoSun,                   !- Sun Exposure
    NoWind,                  !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    30.694839782473,         !- Vertex 1 X-coordinate {m}
    -10.154328611380,        !- Vertex 1 Y-coordinate {m}
    0.000000000000,          !- Vertex 1 Z-coordinate {m}
    30.694839782473,         !- Vertex 2 X-coordinate {m}
    -14.654328611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    17.694839782473,         !- Vertex 3 X-coordinate {m}
    -14.654328611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    17.694839782473,         !- Vertex 4 X-coordinate {m}
    -10.154328611380,        !- Vertex 4 Y-coordinate {m}
    0.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    BEA3FE,                  !- Name
    Wall,                    !- Surface Type
    Interior Wall,           !- Construction Name
    HVAC zone,               !- Zone Name
    Surface,                 !- Outside Boundary Condition
    41BB92,                  !- Outside Boundary Condition Object
    NoSun,                   !- Sun Exposure
    NoWind,                  !- Wind Exposure
    ,                        !- View Factor to Ground
    4,                       !- Number of Vertices
    30.694839782473,         !- Vertex 1 X-coordinate {m}
    -10.154328611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    30.694839782473,         !- Vertex 2 X-coordinate {m}
    -10.154328611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    17.694839782473,         !- Vertex 3 X-coordinate {m}
    -10.154328611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    17.694839782473,         !- Vertex 4 X-coordinate {m}
    -10.154328611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    9DF9FD,                  !- Name
    Ceiling,                 !- Surface Type
    Exterior Roof,           !- Construction Name
    HVAC zone,               !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    17.694839782473,         !- Vertex 1 X-coordinate {m}
    -10.154328611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    17.694839782473,         !- Vertex 2 X-coordinate {m}
    -14.654328611380,        !- Vertex 2 Y-coordinate {m}
    3.000000000000,          !- Vertex 2 Z-coordinate {m}
    30.694839782473,         !- Vertex 3 X-coordinate {m}
    -14.654328611380,        !- Vertex 3 Y-coordinate {m}
    3.000000000000,          !- Vertex 3 Z-coordinate {m}
    30.694839782473,         !- Vertex 4 X-coordinate {m}
    -10.154328611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    B52F2C,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    HVAC zone,               !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    30.694839782473,         !- Vertex 1 X-coordinate {m}
    -14.654328611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    30.694839782473,         !- Vertex 2 X-coordinate {m}
    -14.654328611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    30.694839782473,         !- Vertex 3 X-coordinate {m}
    -10.154328611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    30.694839782473,         !- Vertex 4 X-coordinate {m}
    -10.154328611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    D85E95,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    HVAC zone,               !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    17.694839782473,         !- Vertex 1 X-coordinate {m}
    -10.154328611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    17.694839782473,         !- Vertex 2 X-coordinate {m}
    -10.154328611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    17.694839782473,         !- Vertex 3 X-coordinate {m}
    -14.654328611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    17.694839782473,         !- Vertex 4 X-coordinate {m}
    -14.654328611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    B6530C,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    HVAC zone,               !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    ,                        !- View Factor to Ground
    4,                       !- Number of Vertices
    17.694839782473,         !- Vertex 1 X-coordinate {m}
    -14.654328611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    17.694839782473,         !- Vertex 2 X-coordinate {m}
    -14.654328611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    30.694839782473,         !- Vertex 3 X-coordinate {m}
    -14.654328611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    30.694839782473,         !- Vertex 4 X-coordinate {m}
    -14.654328611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    E9DC77,                  !- Name
    Floor,                   !- Surface Type
    Interior Floor,          !- Construction Name
    4E9450,                  !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    NoSun,                   !- Sun Exposure
    NoWind,                  !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    8.499923782473,          !- Vertex 1 X-coordinate {m}
    -6.901170611380,         !- Vertex 1 Y-coordinate {m}
    0.000000000000,          !- Vertex 1 Z-coordinate {m}
    8.499923782473,          !- Vertex 2 X-coordinate {m}
    -10.401170611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    -4.500076217527,         !- Vertex 3 X-coordinate {m}
    -10.401170611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    -4.500076217527,         !- Vertex 4 X-coordinate {m}
    -6.901170611380,         !- Vertex 4 Y-coordinate {m}
    0.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    6B95E5,                  !- Name
    Ceiling,                 !- Surface Type
    Exterior Roof,           !- Construction Name
    4E9450,                  !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    -4.500076217527,         !- Vertex 1 X-coordinate {m}
    -6.901170611380,         !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    -4.500076217527,         !- Vertex 2 X-coordinate {m}
    -10.401170611380,        !- Vertex 2 Y-coordinate {m}
    3.000000000000,          !- Vertex 2 Z-coordinate {m}
    8.499923782473,          !- Vertex 3 X-coordinate {m}
    -10.401170611380,        !- Vertex 3 Y-coordinate {m}
    3.000000000000,          !- Vertex 3 Z-coordinate {m}
    8.499923782473,          !- Vertex 4 X-coordinate {m}
    -6.901170611380,         !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    6086E3,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    4E9450,                  !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    ,                        !- View Factor to Ground
    4,                       !- Number of Vertices
    8.499923782473,          !- Vertex 1 X-coordinate {m}
    -6.901170611380,         !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    8.499923782473,          !- Vertex 2 X-coordinate {m}
    -6.901170611380,         !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    -4.500076217527,         !- Vertex 3 X-coordinate {m}
    -6.901170611380,         !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    -4.500076217527,         !- Vertex 4 X-coordinate {m}
    -6.901170611380,         !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    DBC466,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    4E9450,                  !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    -4.500076217527,         !- Vertex 1 X-coordinate {m}
    -6.901170611380,         !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    -4.500076217527,         !- Vertex 2 X-coordinate {m}
    -6.901170611380,         !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    -4.500076217527,         !- Vertex 3 X-coordinate {m}
    -10.401170611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    -4.500076217527,         !- Vertex 4 X-coordinate {m}
    -10.401170611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    5CAF58,                  !- Name
    Wall,                    !- Surface Type
    Exterior Wall,           !- Construction Name
    4E9450,                  !- Zone Name
    Outdoors,                !- Outside Boundary Condition
    ,                        !- Outside Boundary Condition Object
    SunExposed,              !- Sun Exposure
    WindExposed,             !- Wind Exposure
    0.0,                     !- View Factor to Ground
    4,                       !- Number of Vertices
    8.499923782473,          !- Vertex 1 X-coordinate {m}
    -10.401170611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    8.499923782473,          !- Vertex 2 X-coordinate {m}
    -10.401170611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    8.499923782473,          !- Vertex 3 X-coordinate {m}
    -6.901170611380,         !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    8.499923782473,          !- Vertex 4 X-coordinate {m}
    -6.901170611380,         !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}

BuildingSurface:Detailed,
    41BB92,                  !- Name
    Wall,                    !- Surface Type
    Interior Wall,           !- Construction Name
    4E9450,                  !- Zone Name
    Surface,                 !- Outside Boundary Condition
    BEA3FE,                  !- Outside Boundary Condition Object
    NoSun,                   !- Sun Exposure
    NoWind,                  !- Wind Exposure
    ,                        !- View Factor to Ground
    4,                       !- Number of Vertices
    -4.500076217527,         !- Vertex 1 X-coordinate {m}
    -10.401170611380,        !- Vertex 1 Y-coordinate {m}
    3.000000000000,          !- Vertex 1 Z-coordinate {m}
    -4.500076217527,         !- Vertex 2 X-coordinate {m}
    -10.401170611380,        !- Vertex 2 Y-coordinate {m}
    0.000000000000,          !- Vertex 2 Z-coordinate {m}
    8.499923782473,          !- Vertex 3 X-coordinate {m}
    -10.401170611380,        !- Vertex 3 Y-coordinate {m}
    0.000000000000,          !- Vertex 3 Z-coordinate {m}
    8.499923782473,          !- Vertex 4 X-coordinate {m}
    -10.401170611380,        !- Vertex 4 Y-coordinate {m}
    3.000000000000;          !- Vertex 4 Z-coordinate {m}


!-   ===========  ALL OBJECTS IN CLASS: FENESTRATIONSURFACE:DETAILED ===========

FenestrationSurface:Detailed,
    2E6745,                  !- Name
    Window,                  !- Surface Type
    Exterior Window,         !- Construction Name
    B6530C,                  !- Building Surface Name
    ,                        !- Outside Boundary Condition Object
    ,                        !- View Factor to Ground
    ,                        !- Shading Control Name
    ,                        !- Frame and Divider Name
    ,                        !- Multiplier
    4,                       !- Number of Vertices
    19.694839782473,         !- Vertex 1 X-coordinate {m}
    -14.654328611380,        !- Vertex 1 Y-coordinate {m}
    2.500000000000,          !- Vertex 1 Z-coordinate {m}
    19.694839782473,         !- Vertex 2 X-coordinate {m}
    -14.654328611380,        !- Vertex 2 Y-coordinate {m}
    1.000000000000,          !- Vertex 2 Z-coordinate {m}
    28.694839782473,         !- Vertex 3 X-coordinate {m}
    -14.654328611380,        !- Vertex 3 Y-coordinate {m}
    1.000000000000,          !- Vertex 3 Z-coordinate {m}
    28.694839782473,         !- Vertex 4 X-coordinate {m}
    -14.654328611380,        !- Vertex 4 Y-coordinate {m}
    2.500000000000;          !- Vertex 4 Z-coordinate {m}

FenestrationSurface:Detailed,
    F6B097,                  !- Name
    Window,                  !- Surface Type
    Exterior Window,         !- Construction Name
    6086E3,                  !- Building Surface Name
    ,                        !- Outside Boundary Condition Object
    ,                        !- View Factor to Ground
    ,                        !- Shading Control Name
    ,                        !- Frame and Divider Name
    ,                        !- Multiplier
    4,                       !- Number of Vertices
    6.499923782473,          !- Vertex 1 X-coordinate {m}
    -6.901170611380,         !- Vertex 1 Y-coordinate {m}
    2.500000000000,          !- Vertex 1 Z-coordinate {m}
    6.499923782473,          !- Vertex 2 X-coordinate {m}
    -6.901170611380,         !- Vertex 2 Y-coordinate {m}
    1.000000000000,          !- Vertex 2 Z-coordinate {m}
    -2.500076217527,         !- Vertex 3 X-coordinate {m}
    -6.901170611380,         !- Vertex 3 Y-coordinate {m}
    1.000000000000,          !- Vertex 3 Z-coordinate {m}
    -2.500076217527,         !- Vertex 4 X-coordinate {m}
    -6.901170611380,         !- Vertex 4 Y-coordinate {m}
    2.500000000000;          !- Vertex 4 Z-coordinate {m}


!-   ===========  ALL OBJECTS IN CLASS: SHADING:BUILDING:DETAILED ===========

Shading:Building:Detailed,
    EAC164,                  !- Name
    ,                        !- Transmittance Schedule Name
    4,                       !- Number of Vertices
    4.345259782473,          !- Vertex 1 X-coordinate {m}
    0.007436388620,          !- Vertex 1 Y-coordinate {m}
    2.500000000000,          !- Vertex 1 Z-coordinate {m}
    4.345259782473,          !- Vertex 2 X-coordinate {m}
    -0.492563611380,         !- Vertex 2 Y-coordinate {m}
    2.500000000000,          !- Vertex 2 Z-coordinate {m}
    13.345259782473,         !- Vertex 3 X-coordinate {m}
    -0.492563611380,         !- Vertex 3 Y-coordinate {m}
    2.500000000000,          !- Vertex 3 Z-coordinate {m}
    13.345259782473,         !- Vertex 4 X-coordinate {m}
    0.007436388620,          !- Vertex 4 Y-coordinate {m}
    2.500000000000;          !- Vertex 4 Z-coordinate {m}


!-   ===========  ALL OBJECTS IN CLASS: PEOPLE ===========

People,
    HVAC zone People,        !- Name
    HVAC zone,               !- Zone or ZoneList Name
    Occupancy Schedule,      !- Number of People Schedule Name
    People,                  !- Number of People Calculation Method
    People[],                       !- Number of People
    ,                        !- People per Zone Floor Area {person/m2}
    ,                        !- Zone Floor Area per Person {m2/person}
    1,                       !- Fraction Radiant
    autocalculate,           !- Sensible Heat Fraction
    Activity Schedule,       !- Activity Level Schedule Name
    0.0000000382,            !- Carbon Dioxide Generation Rate {m3/s-W}
    No,                      !- Enable ASHRAE 55 Comfort Warnings
    ZoneAveraged;            !- Mean Radiant Temperature Calculation Type

People,
    4E9450 People,           !- Name
    4E9450,                  !- Zone or ZoneList Name
    Occupancy Schedule,      !- Number of People Schedule Name
    People,                  !- Number of People Calculation Method
    People[],                       !- Number of People
    ,                        !- People per Zone Floor Area {person/m2}
    ,                        !- Zone Floor Area per Person {m2/person}
    1,                       !- Fraction Radiant
    autocalculate,           !- Sensible Heat Fraction
    Activity Schedule,       !- Activity Level Schedule Name
    0.0000000382,            !- Carbon Dioxide Generation Rate {m3/s-W}
    No,                      !- Enable ASHRAE 55 Comfort Warnings
    ZoneAveraged;            !- Mean Radiant Temperature Calculation Type


!-   ===========  ALL OBJECTS IN CLASS: LIGHTS ===========

Lights,
    HVAC zone Lights,        !- Name
    HVAC zone,               !- Zone or ZoneList Name
    Lights Schedule,         !- Schedule Name
    Watts/Area,              !- Design Level Calculation Method
    ,                        !- Lighting Level {W}
    LPD[],                    !- Watts per Zone Floor Area {W/m2}
    ,                        !- Watts per Person {W/person}
    0,                       !- Return Air Fraction
    0.7,                     !- Fraction Radiant
    0.2,                     !- Fraction Visible
    1,                       !- Fraction Replaceable
    General,                 !- End-Use Subcategory
    No;                      !- Return Air Fraction Calculated from Plenum Temperature

Lights,
    4E9450 Lights,           !- Name
    4E9450,                  !- Zone or ZoneList Name
    Lights Schedule,         !- Schedule Name
    Watts/Area,              !- Design Level Calculation Method
    ,                        !- Lighting Level {W}
    LPD[],                    !- Watts per Zone Floor Area {W/m2}
    ,                        !- Watts per Person {W/person}
    0,                       !- Return Air Fraction
    0.7,                     !- Fraction Radiant
    0.2,                     !- Fraction Visible
    1,                       !- Fraction Replaceable
    General,                 !- End-Use Subcategory
    No;                      !- Return Air Fraction Calculated from Plenum Temperature


!-   ===========  ALL OBJECTS IN CLASS: ELECTRICEQUIPMENT ===========

ElectricEquipment,
    HVAC zone ElectricEquipment,  !- Name
    HVAC zone,               !- Zone or ZoneList Name
    Equipment Schedule,      !- Schedule Name
    Watts/Area,              !- Design Level Calculation Method
    ,                        !- Design Level {W}
    EPD[],                   !- Watts per Zone Floor Area {W/m2}
    ,                        !- Watts per Person {W/person}
    0,                       !- Fraction Latent
    0.5,                     !- Fraction Radiant
    0,                       !- Fraction Lost
    General;                 !- End-Use Subcategory

ElectricEquipment,
    4E9450 ElectricEquipment,!- Name
    4E9450,                  !- Zone or ZoneList Name
    Equipment Schedule,      !- Schedule Name
    Watts/Area,              !- Design Level Calculation Method
    ,                        !- Design Level {W}
    EPD[],                   !- Watts per Zone Floor Area {W/m2}
    ,                        !- Watts per Person {W/person}
    0,                       !- Fraction Latent
    0.5,                     !- Fraction Radiant
    0,                       !- Fraction Lost
    General;                 !- End-Use Subcategory

##IF #[Daylighting[] eqs Yes]
Daylighting:Controls,
    HVAC zone,             !- Zone Name
    1,                       !- Total Daylighting Reference Points
    24.1948,                !- X-Coordinate of First Reference Point {m}
    -12.40432,                   !- Y-Coordinate of First Reference Point {m}
    0.800000,                     !- Z-Coordinate of First Reference Point {m}
    ,                        !- X-Coordinate of Second Reference Point {m}
    ,                        !- Y-Coordinate of Second Reference Point {m}
    ,                     !- Z-Coordinate of Second Reference Point {m}
    1,                       !- Fraction of Zone Controlled by First Reference Point
    ,                        !- Fraction of Zone Controlled by Second Reference Point
    500,                     !- Illuminance Setpoint at First Reference Point {lux}
    ,                        !- Illuminance Setpoint at Second Reference Point {lux}
    3,                       !- Lighting Control Type
    0,                       !- Glare Calculation Azimuth Angle of View Direction Clockwise from Zone y-Axis {deg}
    22,                      !- Maximum Allowable Discomfort Glare Index
    0.3,                     !- Minimum Input Power Fraction for Continuous Dimming Control
    0.2,                     !- Minimum Light Output Fraction for Continuous Dimming Control
    1,                       !- Number of Stepped Control Steps
    1,                       !- Probability Lighting will be Reset When Needed in Manual Stepped Control
    Always On;               !- Availability Schedule Name
    
Daylighting:Controls,
    4E9450,             !- Zone Name
    1,                       !- Total Daylighting Reference Points
    2.5,                !- X-Coordinate of First Reference Point {m}
    -8.65117,                   !- Y-Coordinate of First Reference Point {m}
    0.800000,                     !- Z-Coordinate of First Reference Point {m}
    ,                        !- X-Coordinate of Second Reference Point {m}
    ,                        !- Y-Coordinate of Second Reference Point {m}
    ,                     !- Z-Coordinate of Second Reference Point {m}
    1,                       !- Fraction of Zone Controlled by First Reference Point
    ,                        !- Fraction of Zone Controlled by Second Reference Point
    500,                     !- Illuminance Setpoint at First Reference Point {lux}
    ,                        !- Illuminance Setpoint at Second Reference Point {lux}
    3,                       !- Lighting Control Type
    0,                       !- Glare Calculation Azimuth Angle of View Direction Clockwise from Zone y-Axis {deg}
    22,                      !- Maximum Allowable Discomfort Glare Index
    0.3,                     !- Minimum Input Power Fraction for Continuous Dimming Control
    0.2,                     !- Minimum Light Output Fraction for Continuous Dimming Control
    1,                       !- Number of Stepped Control Steps
    1,                       !- Probability Lighting will be Reset When Needed in Manual Stepped Control
    Always On;               !- Availability Schedule Name
##ENDIF  

!-   ===========  ALL OBJECTS IN CLASS: ZONEINFILTRATION:DESIGNFLOWRATE ===========

ZoneInfiltration:DesignFlowRate,
    HVAC zone Infiltration,  !- Name
    HVAC zone,               !- Zone or ZoneList Name
    Infiltration Schedule,   !- Schedule Name
    AirChanges/Hour,         !- Design Flow Rate Calculation Method
    ,                        !- Design Flow Rate {m3/s}
    ,                        !- Flow per Zone Floor Area {m3/s-m2}
    ,                        !- Flow per Exterior Surface Area {m3/s-m2}
    0.000189,                !- Air Changes per Hour {1/hr}
    1,                       !- Constant Term Coefficient
    0,                       !- Temperature Term Coefficient
    0,                       !- Velocity Term Coefficient
    0;                       !- Velocity Squared Term Coefficient

ZoneInfiltration:DesignFlowRate,
    4E9450 Infiltration,     !- Name
    4E9450,                  !- Zone or ZoneList Name
    Infiltration Schedule,   !- Schedule Name
    AirChanges/Hour,         !- Design Flow Rate Calculation Method
    ,                        !- Design Flow Rate {m3/s}
    ,                        !- Flow per Zone Floor Area {m3/s-m2}
    ,                        !- Flow per Exterior Surface Area {m3/s-m2}
    0.000189,                !- Air Changes per Hour {1/hr}
    1,                       !- Constant Term Coefficient
    0,                       !- Temperature Term Coefficient
    0,                       !- Velocity Term Coefficient
    0;                       !- Velocity Squared Term Coefficient


!-   ===========  ALL OBJECTS IN CLASS: HVACTEMPLATE:THERMOSTAT ===========

HVACTemplate:Thermostat,
    Setpoint Thermostat,     !- Name
    Heating Setpoint Schedule,  !- Heating Setpoint Schedule Name
    ,                        !- Constant Heating Setpoint {C}
    Cooling Setpoint Schedule,  !- Cooling Setpoint Schedule Name
    ;                        !- Constant Cooling Setpoint {C}


!-   ===========  ALL OBJECTS IN CLASS: HVACTEMPLATE:ZONE:PTAC ===========

HVACTemplate:Zone:PTAC,
    HVAC zone,               !- Zone Name
    Setpoint Thermostat,     !- Template Thermostat Name
    autosize,                !- Cooling Supply Air Flow Rate {m3/s}
    autosize,                !- Heating Supply Air Flow Rate {m3/s}
    ,                        !- No Load Supply Air Flow Rate {m3/s}
    1,                       !- Zone Heating Sizing Factor
    1,                       !- Zone Cooling Sizing Factor
    Flow/Person,             !- Outdoor Air Method
    0.00944,                 !- Outdoor Air Flow Rate per Person {m3/s}
    ,                        !- Outdoor Air Flow Rate per Zone Floor Area {m3/s-m2}
    ,                        !- Outdoor Air Flow Rate per Zone {m3/s}
    ,                        !- System Availability Schedule Name
    Hours of Operation Schedule,  !- Supply Fan Operating Mode Schedule Name
    DrawThrough,             !- Supply Fan Placement
    0.7,                     !- Supply Fan Total Efficiency
    75,                      !- Supply Fan Delta Pressure {Pa}
    0.9,                     !- Supply Fan Motor Efficiency
    SingleSpeedDX,           !- Cooling Coil Type
    Hours of Operation Schedule,  !- Cooling Coil Availability Schedule Name
    autosize,                !- Cooling Coil Rated Capacity {W}
    autosize,                !- Cooling Coil Rated Sensible Heat Ratio
    COP[],                       !- Cooling Coil Rated COP {W/W}
    Electric,                !- Heating Coil Type
    Always Off,              !- Heating Coil Availability Schedule Name
    autosize,                !- Heating Coil Capacity {W}
    0.8,                     !- Gas Heating Coil Efficiency
    ,                        !- Gas Heating Coil Parasitic Electric Load {W}
    ,                        !- Dedicated Outdoor Air System Name
    SupplyAirTemperature,    !- Zone Cooling Design Supply Air Temperature Input Method
    14,                      !- Zone Cooling Design Supply Air Temperature {C}
    ,                        !- Zone Cooling Design Supply Air Temperature Difference {deltaC}
    SupplyAirTemperature,    !- Zone Heating Design Supply Air Temperature Input Method
    50,                      !- Zone Heating Design Supply Air Temperature {C}
    ;                        !- Zone Heating Design Supply Air Temperature Difference {deltaC}


!-   ===========  ALL OBJECTS IN CLASS: OUTPUT:VARIABLEDICTIONARY ===========

Output:VariableDictionary,
    regular;                 !- Key Field


!-   ===========  ALL OBJECTS IN CLASS: OUTPUT:SURFACES:LIST ===========

Output:Surfaces:List,
    Details;                 !- Report Type


!-   ===========  ALL OBJECTS IN CLASS: OUTPUT:SURFACES:DRAWING ===========

Output:Surfaces:Drawing,
    DXF,                     !- Report Type
    Triangulate3DFace;       !- Report Specifications 1


!-   ===========  ALL OBJECTS IN CLASS: OUTPUT:CONSTRUCTIONS ===========

Output:Constructions,
    Constructions;           !- Details Type 1


!-   ===========  ALL OBJECTS IN CLASS: OUTPUT:TABLE:SUMMARYREPORTS ===========

Output:Table:SummaryReports,
    AllSummaryAndMonthly;    !- Report 1 Name


!-   ===========  ALL OBJECTS IN CLASS: OUTPUTCONTROL:TABLE:STYLE ===========

OutputControl:Table:Style,
    CommaAndHTML,            !- Column Separator
    JtoKWH;                  !- Unit Conversion


!-   ===========  ALL OBJECTS IN CLASS: OUTPUTCONTROL:REPORTINGTOLERANCES ===========

OutputControl:ReportingTolerances,
    0.2,                     !- Tolerance for Time Heating Setpoint Not Met {deltaC}
    0.2;                     !- Tolerance for Time Cooling Setpoint Not Met {deltaC}

