= image_tag 'LOGO+TEXT 256 X 650.png'
.row
  .span5
    .page-header
      %h1 一、關於本模擬
    %p
      本建築模擬平台提供線上即時模擬，模擬標的物（small office）外觀及方位如圖示所示，為坐北朝南之一樓層商業建築，使用約 155 坪的空間，分為 5 個區域應用，面積比率為1:1:1.7:1.7:2.2，以 EnergyPlus 為工具，基於台灣地區本土化之應用條件（如氣候條件等），分析以空調、照明為主之耗能分析，其結果可作為建築能耗與相關設備應用初步研究設計之參考，不具任何證明效果，網頁內容與分析結果版權屬工業技術研究院，如需下載或引用請與本單位聯絡。對於其他類建築與設備之應用與細部分析之需求，請與本專業人員聯絡。
  .span5
    = image_tag 'small-office-2.png', class: 'img-polaroid'

.page-header
  %h1 二、操作說明
%h3#step-1 1. 根據使用者不同身份類別探討空調與照明對建築耗能之影響
= image_tag 'step-1.png', class: 'img-polaroid'

%h3#step-2 2. 選擇建築類別 1/2，其幾何與環境設定差異請看「建築模組介紹」
= image_tag 'step-2.png', class: 'img-polaroid'

%h3#step-3 3. 選擇本本化氣候條件：北、中、南
= image_tag 'step-3.png', class: 'img-polaroid'

%h3#step-4 4. 參數/性能設定：因應不同登入身份應用，設定不同參數/性能。以空調登入身份為例，需輸入室內設定溫度、冷氣機效能COP、室內人數，其餘參數值請看「各案例初始值設定」
= image_tag 'step-4.png', class: 'img-polaroid'

%h3#step-5 5. 計算：因不同案例與網路傳輸速度之差異，各分析案例所需時間不盡相同，平均需時 3~5 分鐘，請耐心等候……
= image_tag 'step-5.png', class: 'img-polaroid'

%h3#step-6 6. 結果顯示：包含主要耗電百分比、各空間空調/照明耗電百分比、各月份空調/照明耗電百分比……
.row
  .span6= image_tag 'step-6-a.png', class: 'img-polaroid'
  .span6= image_tag 'step-6-b.png', class: 'img-polaroid'