.hero-unit
  %h1
    TODO
  %ul
    %li
      提供首頁的內文與設計給 Tony
      %ul
        %li 專案名稱
        %li 計畫名稱
        %li 計畫介紹
        %li 進入小精靈的按鈕
        %li 設計單位
        %li 委託單位
        %li Copyright
        %li etc
    %li
      提供 imf
      %ul
        %li 一個 imf 對應一張圖片（128*128）
    %li
      提供 epw
      %ul
        %li 台北
        %li 台中（缺）
        %li 高雄（缺）
        %li 台東（缺）

  = link_to '馬上使用', simulation_wizard_path, class: 'btn btn-large btn-primary'