/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require smart_wizard_vertical
 *= require select2
 *= require font-awesome
 *= require_tree .
 */
@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap-responsive";

#logo img{
  height: 40px;
}