// Place all the styles related to the simulation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body[data-controller="simulations"][data-action="new"]{
  .coming-soon{ 
    position: absolute;
    bottom: 64px;
    color: red;
  }

  .buttonFinish{
    display: none;
  }

  #splash_screen_container{
    margin-top: 100px;
    height: 400px;
  }

  .building-btn{
    min-height: 250px;
  }
}