= simple_nested_form_for(@product, as: :product) do |f|
  = f.error_notification
  .form-inputs
    .row
      .span4
        = f.input :name, input_html: {placeholder: '產品型號'}
        = f.input :company, input_html: {placeholder: '例：OOXX 股份有限公司'}
        = f.input :level, collection: (1..5), include_blank: false
        = f.input :registration_id, input_html: {placeholder: '例：AC-101-1387'}
        = render 'product_fields', f: f
        = render 'air_conditioner_fields', f: f
  .form-actions
    = f.button :submit