- if @product.instance_of? Product
  = f.input :product_type, collection: Product::PRODUCT_TYPES.map{|x| [t(x, scope: :product_types), x]}, include_blank: false
- else
  = f.input :product_type, as: :hidden