%h1 
  = t('.product_list')
  %small
    .btn-group
      = link_to '#', class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do
        新增
        %span.caret
      %ul.dropdown-menu
        = nav_li Products::AirConditioner.model_name.human, new_products_air_conditioner_path
        = nav_li Products::Lamp.model_name.human, new_products_lamp_path
= paginate @products
.row
  .span6
    %table.table
      %thead
        %tr
          %th= Product.human_attribute_name :name
          %th= Product.human_attribute_name :company
          %th= Product.human_attribute_name :product_type
          %th 操作
      %tbody
        - @products.map(&:downcast).each do |product|
          %tr
            %td= product.name
            %td= product.company
            %td= t(product.product_type, scope: :product_types)
            %td
              = link_to product do
                %i.icon-link.icon-large.muted(title="查看")
              = link_to [:edit, product] do
                %i.icon-pencil.icon-large.muted(title="編輯")
              = link_to product, method: :delete, data: { confirm: '你確定？' } do
                %i.icon-trash.icon-large.muted(title="刪除")
= paginate @products