%h1= @product.name
%dl
  %dt= Product.human_attribute_name :company
  %dd= @product.company
  %dt= Product.human_attribute_name :level
  %dd= @product.level
  %dt= Product.human_attribute_name :product_type
  %dd= t(@product.product_type, scope: :product_types)
  %dt= Product.human_attribute_name :registration_id
  %dd= @product.registration_id
  - if @product.air_conditioner?
    %dt= Product.human_attribute_name :air_conditioner_type
    %dd= t(@product.air_conditioner_type, scope: :air_conditioner_types)
    %dt= Product.human_attribute_name :cop
    %dd= @product.cop
    %dt= Product.human_attribute_name :cooling_capacity
    %dd= @product.cooling_capacity
-#.row
  .span2
    %table.table.table-bordered.table-striped.table-condensed.table-hover
      %thead
        %tr
          %th 變數名稱
          %th 值
      %tbody
        - @product.product_attributes.each do |attr|
          %tr
            %td= attr.key
            %td= attr.value

= link_to '編輯', [:edit, @product]
|
= link_to '返回', products_path
|
= link_to '刪除', @product, method: :delete, data: { confirm: '你確定？' }