%footer
  %p.pull-right
    %b= "建議使用 IE 8 以上或非 IE 瀏覽器（Chrome、Firefox、Opera）"
  %p
    &copy; #{image_tag 'itri.gif'} ITRI 2013
    |
    = link_to '聯絡我們', "mailto:lhw@itri.org.tw", target: :_blank
    |
    造訪次數：#{@hit_count}
    |
    資料來源：#{image_tag 'moeaboe.gif'} 經濟部能源局公告
    |
    模擬結果僅供參考