<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag('LOGO+TEXT 128 X 325.png') + '1.1', root_path, id: 'logo', class: 'pull-left' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= nav_li '說明', help_path %>
          <%= nav_li '意見交流', comments_path %>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <%= nav_li t('.admin'), products_path %>
                <%= nav_li '模擬紀錄', simulations_path %>
                <%= nav_li '編輯個人資料', edit_user_registration_path %>
                <%= nav_li t('.sign_out'), destroy_user_session_path, method: :delete %>
              </ul>
            </li>
          <% else %>
            <%= nav_li t('.sign_in'), new_user_session_path %>
          <% end %>
        </ul>
        <!--form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form-->
      </div>
    </div>
  </div>
</div>