<!DOCTYPE html>
<html>
<head>
  <title><%= t('site.name') %></title>
  <%= favicon_link_tag "LOGO 16 X 16.png" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
    <%= javascript_include_tag 'excanvas' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= render :partial => 'layouts/navbar' %>
  <div class="container">
    <%= notice_message %>
    <%= yield %>
    <hr>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
